.page-header {
  text-align: center;
  margin-top: 100px; /* Space between header and table */
}

.page-header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.page-header h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #03fc9d;
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
}

.content-container {
  padding: 20px;
  max-width: 1500px;
  margin: auto;
}

.watchlist-section {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.watchlist-select, .symbol-input {
  margin: 0 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgba(85, 85, 85, 0.66);
}

select, input {
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.3s;
}

select:focus, input:focus {
  border-color: #1e7e34;
  outline: none;
}

/* Style des boutons mis à jour */
.create-button {
  padding: 12px 30px;
  background-color: #03fc9d; /* Couleur de fond par défaut */
  color: black; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 8px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointer sur hover */
  font-size: 1rem; /* Taille de police */
  font-weight: 500; /* Poids de police */
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Transition douce */
  align-self: flex-end; /* Positionne le bouton à droite */
}

.create-button:hover {
  background-color: black; /* Couleur de fond au survol */
  color: #03fc9d;
  transform: translateY(-2px); /* Légère élévation au survol */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Ombre portée au survol */
}

button:focus {
  outline: none; /* Retire le contour par défaut */
  box-shadow: 0 0 0 3px rgba(3, 252, 157, 0.5); /* Ombre lumineuse lors du focus */
}

.company-data {
  margin-top: 30px;
  width: 100%;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.styled-table th,
.styled-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.styled-table th {
  background-color: #f2f2f2;
  color: #333;
}

.company-cell {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.change-positive {
  color: green;
}

.change-negative {
  color: red;
}

.compliance-status {
  font-weight: bold;
}

.compliance-halal {
  color: green;
}

.compliance-not-halal {
  color: red;
}

.compliance-doubtful {
  color: orange;
}


.delete-icon{
  background-color: white;
  color: red;
  cursor: pointer;
  transition: color 0.3s;
  border: none;
}
.delete-icon:hover  {
  color: darkred;
  background-color: white;
}



.delete-button {
  background-color: white;
  border: none;
  color: red;
  cursor: pointer;
  transition: color 0.3s;
}

.delete-button:hover {
  color: darkred;
  background-color: white;
}

.success-message {
  color: green;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.1em;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.1em;
}

.confirmation-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.dialog-content h3 {
  margin: 0 0 15px;
  font-size: 1.5em;
}

.dialog-content p {
  margin: 0 0 20px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.confirm-button, .cancel-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Prend toute la largeur */
}

.confirm-button {
  background-color: #03fc9d; /* Couleur de fond pour le bouton de confirmation */
  color: black;
  margin-left: 10px;
}

.cancel-button {
  background-color: #ff4d4d; /* Couleur de fond pour le bouton d'annulation */
  color: white;
}

.confirm-button:hover {
  background-color: black; /* Couleur au survol pour le bouton de confirmation */
  color: #03fc9d;
}

.cancel-button:hover {
  background-color: darkred; /* Couleur au survol pour le bouton d'annulation */
}

.company-data h2{
  font-family: 'Century', cursive;
  font-weight: bold;
}














.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9em;
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #03fc9d;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #03fc9d;
  font-size: 1.5em;
  margin-right: 15px;
}

.social-links a:hover {
  color: #ffffff;
}

.footer-note {
  text-align: center;
  margin-top: 30px;
  font-size: 0.8em;
  color: #aaaaaa;
  border-top: 1px solid #333333;
  padding-top: 20px;
}

