.navbar {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-family: 'Elephant', cursive;
  font-size: 30px;
  color: #03fc9d;
  text-shadow: 2px 2px 4px #000000;
  margin-right: 40px;
}

.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link:hover {
  color: #03fc9d;
  background-color: rgba(115, 104, 104, 0.2);
  border-radius: 5px;
}

.btn-get-started, .btn-log-in {
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-get-started {
  background-color: #03fc9d;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-get-started:hover {
  background-color: black;
  color: #03fc9d;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-log-in {
  background-color: transparent;
  color: white;
  border: 2px solid #03fc9d;
}

.btn-log-in:hover {
  background-color: #03fc9d;
  color: black;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
